# Parameters for the Scaling Studies

Assume that:

    N = 2**n
    M = 2**m
    T = 2**(t+23)

such that:

In [1]:
import itertools
import pandas as pd
import numpy as np

In [2]:
n = np.arange(7)
m = np.arange(7)
t = np.arange(7)

In [3]:
def N(n):
    return 2**n

def M(m):
    return 2**m

def T(t):
    return 2**(t+23)

So, we see that:

In [4]:
N(n)

array([ 1,  2,  4,  8, 16, 32, 64])

In [5]:
M(m)

array([ 1,  2,  4,  8, 16, 32, 64])

In [6]:
T(t)

array([  8388608,  16777216,  33554432,  67108864, 134217728, 268435456,
       536870912])

In [7]:
df = pd.DataFrame(itertools.product(n,m,t), columns=['n', 'm', 't'])
df['N'] = N(df['n'])
df['M'] = M(df['m'])
df['T'] = T(df['t'])
df['Segment Size'] = df['N'] * df['M'] * df['T']
df['Block Size'] = df['M'] * df['T']
df['Total Size'] = 120 * df['Segment Size']

In [8]:
df

     n  m  t   N   M          T   Segment Size   Block Size       Total Size
0    0  0  0   1   1    8388608        8388608      8388608       1006632960
1    0  0  1   1   1   16777216       16777216     16777216       2013265920
2    0  0  2   1   1   33554432       33554432     33554432       4026531840
3    0  0  3   1   1   67108864       67108864     67108864       8053063680
4    0  0  4   1   1  134217728      134217728    134217728      16106127360
5    0  0  5   1   1  268435456      268435456    268435456      32212254720
6    0  0  6   1   1  536870912      536870912    536870912      64424509440
7    0  1  0   1   2    8388608       16777216     16777216       2013265920
8    0  1  1   1   2   16777216       33554432     33554432       4026531840
9    0  1  2   1   2   33554432       67108864     67108864       8053063680
10   0  1  3   1   2   67108864      134217728    134217728      16106127360
11   0  1  4   1   2  134217728      268435456    268435456      32212254720
12   0  1  5   1   2  268435456      536870912    536870912      64424509440
13   0  1  6   1   2  536870912     1073741824   1073741824     128849018880
14   0  2  0   1   4    8388608       33554432     33554432       4026531840
15   0  2  1   1   4   16777216       67108864     67108864       8053063680
16   0  2  2   1   4   33554432      134217728    134217728      16106127360
17   0  2  3   1   4   67108864      268435456    268435456      32212254720
18   0  2  4   1   4  134217728      536870912    536870912      64424509440
19   0  2  5   1   4  268435456     1073741824   1073741824     128849018880
20   0  2  6   1   4  536870912     2147483648   2147483648     257698037760
21   0  3  0   1   8    8388608       67108864     67108864       8053063680
22   0  3  1   1   8   16777216      134217728    134217728      16106127360
23   0  3  2   1   8   33554432      268435456    268435456      32212254720
24   0  3  3   1   8   67108864      536870912    536870912      64424509440
25   0  3  4   1   8  134217728     1073741824   1073741824     128849018880
26   0  3  5   1   8  268435456     2147483648   2147483648     257698037760
27   0  3  6   1   8  536870912     4294967296   4294967296     515396075520
28   0  4  0   1  16    8388608      134217728    134217728      16106127360
29   0  4  1   1  16   16777216      268435456    268435456      32212254720
..  .. .. ..  ..  ..        ...            ...          ...              ...
313  6  2  5  64   4  268435456    68719476736   1073741824    8246337208320
314  6  2  6  64   4  536870912   137438953472   2147483648   16492674416640
315  6  3  0  64   8    8388608     4294967296     67108864     515396075520
316  6  3  1  64   8   16777216     8589934592    134217728    1030792151040
317  6  3  2  64   8   33554432    17179869184    268435456    2061584302080
318  6  3  3  64   8   67108864    34359738368    536870912    4123168604160
319  6  3  4  64   8  134217728    68719476736   1073741824    8246337208320
320  6  3  5  64   8  268435456   137438953472   2147483648   16492674416640
321  6  3  6  64   8  536870912   274877906944   4294967296   32985348833280
322  6  4  0  64  16    8388608     8589934592    134217728    1030792151040
323  6  4  1  64  16   16777216    17179869184    268435456    2061584302080
324  6  4  2  64  16   33554432    34359738368    536870912    4123168604160
325  6  4  3  64  16   67108864    68719476736   1073741824    8246337208320
326  6  4  4  64  16  134217728   137438953472   2147483648   16492674416640
327  6  4  5  64  16  268435456   274877906944   4294967296   32985348833280
328  6  4  6  64  16  536870912   549755813888   8589934592   65970697666560
329  6  5  0  64  32    8388608    17179869184    268435456    2061584302080
330  6  5  1  64  32   16777216    34359738368    536870912    4123168604160
331  6  5  2  64  32   33554432    68719476736   1073741824    8246337208320
332  6  5  3  64  32   67108864   137438953472   2147483648   16492674416640
333  6  5  4  64  32  134217728   274877906944   4294967296   32985348833280
334  6  5  5  64  32  268435456   549755813888   8589934592   65970697666560
335  6  5  6  64  32  536870912  1099511627776  17179869184  131941395333120
336  6  6  0  64  64    8388608    34359738368    536870912    4123168604160
337  6  6  1  64  64   16777216    68719476736   1073741824    8246337208320
338  6  6  2  64  64   33554432   137438953472   2147483648   16492674416640
339  6  6  3  64  64   67108864   274877906944   4294967296   32985348833280
340  6  6  4  64  64  134217728   549755813888   8589934592   65970697666560
341  6  6  5  64  64  268435456  1099511627776  17179869184  131941395333120
342  6  6  6  64  64  536870912  2199023255552  34359738368  263882790666240

[343 rows x 9 columns]

So, we need to perform 343 IOR runs for each API we are considering, if we consider the entire range of the parameter space.

The following two frames show the individual runs that are capable of producing the following **Total Size** and **Block Size**, which indicate separate *strong* and *weak* scaling studies.

In [10]:
pd.DataFrame([(tsize / 2**20, 120 * tsize / 2**30, sorted(grp['N'].unique())) for tsize, grp in df.groupby('Segment Size')],
             columns=['Segment Size [MB]', 'Total Size [GB]', 'Number of Nodes'])

    Segment Size [MB]  Total Size [GB]           Number of Nodes
0                 8.0           0.9375                       [1]
1                16.0           1.8750                    [1, 2]
2                32.0           3.7500                 [1, 2, 4]
3                64.0           7.5000              [1, 2, 4, 8]
4               128.0          15.0000          [1, 2, 4, 8, 16]
5               256.0          30.0000      [1, 2, 4, 8, 16, 32]
6               512.0          60.0000  [1, 2, 4, 8, 16, 32, 64]
7              1024.0         120.0000  [1, 2, 4, 8, 16, 32, 64]
8              2048.0         240.0000  [1, 2, 4, 8, 16, 32, 64]
9              4096.0         480.0000  [1, 2, 4, 8, 16, 32, 64]
10             8192.0         960.0000  [1, 2, 4, 8, 16, 32, 64]
11            16384.0        1920.0000  [1, 2, 4, 8, 16, 32, 64]
12            32768.0        3840.0000  [1, 2, 4, 8, 16, 32, 64]
13            65536.0        7680.0000     [2, 4, 8, 16, 32, 64]
14           131072.0       15360.0000        [4, 8, 16, 32, 64]
15           262144.0       30720.0000           [8, 16, 32, 64]
16           524288.0       61440.0000              [16, 32, 64]
17          1048576.0      122880.0000                  [32, 64]
18          2097152.0      245760.0000                      [64]

This indicates that if we want scaling plots with points for all 7 node counts (1 to 64), then we can only consider 512MB through 32GB segment sizes, which are 7 different curves.  If we want to all for 5 or more points in our plots, then the segment size can range from 128MB to 128GB.

In [11]:
pd.DataFrame([(bsize / 2**20, sorted(grp['N'].unique())) for bsize, grp in df.groupby('Block Size')],
             columns=['Block Size [MB]', 'Number of Nodes'])

    Block Size [MB]           Number of Nodes
0               8.0  [1, 2, 4, 8, 16, 32, 64]
1              16.0  [1, 2, 4, 8, 16, 32, 64]
2              32.0  [1, 2, 4, 8, 16, 32, 64]
3              64.0  [1, 2, 4, 8, 16, 32, 64]
4             128.0  [1, 2, 4, 8, 16, 32, 64]
5             256.0  [1, 2, 4, 8, 16, 32, 64]
6             512.0  [1, 2, 4, 8, 16, 32, 64]
7            1024.0  [1, 2, 4, 8, 16, 32, 64]
8            2048.0  [1, 2, 4, 8, 16, 32, 64]
9            4096.0  [1, 2, 4, 8, 16, 32, 64]
10           8192.0  [1, 2, 4, 8, 16, 32, 64]
11          16384.0  [1, 2, 4, 8, 16, 32, 64]
12          32768.0  [1, 2, 4, 8, 16, 32, 64]

This indicates that this scaling study will give full range plots for all block sizes considered.