# Parameters for the Scaling Studies

Assume that:

    N = 2**n
    M = 2**m
    T = 2**(t+23)

such that:

In [1]:
import itertools
import pandas as pd
import numpy as np

In [20]:
n = np.arange(7)
m = np.arange(4)
t = np.arange(5)

In [21]:
def N(n):
    return 2**n

def M(m):
    return 2**m

def T(t):
    return 2**(t+23)

So, we see that:

In [22]:
N(n)

array([ 1,  2,  4,  8, 16, 32, 64])

In [23]:
M(m)

array([1, 2, 4, 8])

In [24]:
T(t)

array([  8388608,  16777216,  33554432,  67108864, 134217728])

In [25]:
df = pd.DataFrame(itertools.product(n,m,t), columns=['n', 'm', 't'])
df['N'] = N(df['n'])
df['M'] = M(df['m'])
df['T'] = T(df['t'])
df['Segment Size'] = df['N'] * df['M'] * df['T']
df['Block Size'] = df['M'] * df['T']
df['Total Size'] = 120 * df['Segment Size']

In [26]:
df

     n  m  t   N  M          T  Segment Size  Block Size     Total Size
0    0  0  0   1  1    8388608       8388608     8388608     1006632960
1    0  0  1   1  1   16777216      16777216    16777216     2013265920
2    0  0  2   1  1   33554432      33554432    33554432     4026531840
3    0  0  3   1  1   67108864      67108864    67108864     8053063680
4    0  0  4   1  1  134217728     134217728   134217728    16106127360
5    0  1  0   1  2    8388608      16777216    16777216     2013265920
6    0  1  1   1  2   16777216      33554432    33554432     4026531840
7    0  1  2   1  2   33554432      67108864    67108864     8053063680
8    0  1  3   1  2   67108864     134217728   134217728    16106127360
9    0  1  4   1  2  134217728     268435456   268435456    32212254720
10   0  2  0   1  4    8388608      33554432    33554432     4026531840
11   0  2  1   1  4   16777216      67108864    67108864     8053063680
12   0  2  2   1  4   33554432     134217728   134217728    16106127360
13   0  2  3   1  4   67108864     268435456   268435456    32212254720
14   0  2  4   1  4  134217728     536870912   536870912    64424509440
15   0  3  0   1  8    8388608      67108864    67108864     8053063680
16   0  3  1   1  8   16777216     134217728   134217728    16106127360
17   0  3  2   1  8   33554432     268435456   268435456    32212254720
18   0  3  3   1  8   67108864     536870912   536870912    64424509440
19   0  3  4   1  8  134217728    1073741824  1073741824   128849018880
20   1  0  0   2  1    8388608      16777216     8388608     2013265920
21   1  0  1   2  1   16777216      33554432    16777216     4026531840
22   1  0  2   2  1   33554432      67108864    33554432     8053063680
23   1  0  3   2  1   67108864     134217728    67108864    16106127360
24   1  0  4   2  1  134217728     268435456   134217728    32212254720
25   1  1  0   2  2    8388608      33554432    16777216     4026531840
26   1  1  1   2  2   16777216      67108864    33554432     8053063680
27   1  1  2   2  2   33554432     134217728    67108864    16106127360
28   1  1  3   2  2   67108864     268435456   134217728    32212254720
29   1  1  4   2  2  134217728     536870912   268435456    64424509440
..  .. .. ..  .. ..        ...           ...         ...            ...
110  5  2  0  32  4    8388608    1073741824    33554432   128849018880
111  5  2  1  32  4   16777216    2147483648    67108864   257698037760
112  5  2  2  32  4   33554432    4294967296   134217728   515396075520
113  5  2  3  32  4   67108864    8589934592   268435456  1030792151040
114  5  2  4  32  4  134217728   17179869184   536870912  2061584302080
115  5  3  0  32  8    8388608    2147483648    67108864   257698037760
116  5  3  1  32  8   16777216    4294967296   134217728   515396075520
117  5  3  2  32  8   33554432    8589934592   268435456  1030792151040
118  5  3  3  32  8   67108864   17179869184   536870912  2061584302080
119  5  3  4  32  8  134217728   34359738368  1073741824  4123168604160
120  6  0  0  64  1    8388608     536870912     8388608    64424509440
121  6  0  1  64  1   16777216    1073741824    16777216   128849018880
122  6  0  2  64  1   33554432    2147483648    33554432   257698037760
123  6  0  3  64  1   67108864    4294967296    67108864   515396075520
124  6  0  4  64  1  134217728    8589934592   134217728  1030792151040
125  6  1  0  64  2    8388608    1073741824    16777216   128849018880
126  6  1  1  64  2   16777216    2147483648    33554432   257698037760
127  6  1  2  64  2   33554432    4294967296    67108864   515396075520
128  6  1  3  64  2   67108864    8589934592   134217728  1030792151040
129  6  1  4  64  2  134217728   17179869184   268435456  2061584302080
130  6  2  0  64  4    8388608    2147483648    33554432   257698037760
131  6  2  1  64  4   16777216    4294967296    67108864   515396075520
132  6  2  2  64  4   33554432    8589934592   134217728  1030792151040
133  6  2  3  64  4   67108864   17179869184   268435456  2061584302080
134  6  2  4  64  4  134217728   34359738368   536870912  4123168604160
135  6  3  0  64  8    8388608    4294967296    67108864   515396075520
136  6  3  1  64  8   16777216    8589934592   134217728  1030792151040
137  6  3  2  64  8   33554432   17179869184   268435456  2061584302080
138  6  3  3  64  8   67108864   34359738368   536870912  4123168604160
139  6  3  4  64  8  134217728   68719476736  1073741824  8246337208320

[140 rows x 9 columns]

So, we need to perform 343 IOR runs for each API we are considering, if we consider the entire range of the parameter space.

The following two frames show the individual runs that are capable of producing the following **Total Size** and **Block Size**, which indicate separate *strong* and *weak* scaling studies.

In [27]:
pd.DataFrame([(tsize / 2**20, 120 * tsize / 2**30, sorted(grp['N'].unique())) for tsize, grp in df.groupby('Segment Size')],
             columns=['Segment Size [MB]', 'Total Size [GB]', 'Number of Nodes'])

    Segment Size [MB]  Total Size [GB]           Number of Nodes
0                 8.0           0.9375                       [1]
1                16.0           1.8750                    [1, 2]
2                32.0           3.7500                 [1, 2, 4]
3                64.0           7.5000              [1, 2, 4, 8]
4               128.0          15.0000          [1, 2, 4, 8, 16]
5               256.0          30.0000      [1, 2, 4, 8, 16, 32]
6               512.0          60.0000  [1, 2, 4, 8, 16, 32, 64]
7              1024.0         120.0000  [1, 2, 4, 8, 16, 32, 64]
8              2048.0         240.0000     [2, 4, 8, 16, 32, 64]
9              4096.0         480.0000        [4, 8, 16, 32, 64]
10             8192.0         960.0000           [8, 16, 32, 64]
11            16384.0        1920.0000              [16, 32, 64]
12            32768.0        3840.0000                  [32, 64]
13            65536.0        7680.0000                      [64]

This indicates that if we want scaling plots with points for all 7 node counts (1 to 64), then we can only consider 512MB through 32GB segment sizes, which are 7 different curves.  If we want to all for 5 or more points in our plots, then the segment size can range from 128MB to 128GB.

In [28]:
pd.DataFrame([(bsize / 2**20, sorted(grp['N'].unique())) for bsize, grp in df.groupby('Block Size')],
             columns=['Block Size [MB]', 'Number of Nodes'])

   Block Size [MB]           Number of Nodes
0              8.0  [1, 2, 4, 8, 16, 32, 64]
1             16.0  [1, 2, 4, 8, 16, 32, 64]
2             32.0  [1, 2, 4, 8, 16, 32, 64]
3             64.0  [1, 2, 4, 8, 16, 32, 64]
4            128.0  [1, 2, 4, 8, 16, 32, 64]
5            256.0  [1, 2, 4, 8, 16, 32, 64]
6            512.0  [1, 2, 4, 8, 16, 32, 64]
7           1024.0  [1, 2, 4, 8, 16, 32, 64]

This indicates that this scaling study will give full range plots for all block sizes considered.